:root {
  --primary-color: #203500;
  --secondary-color: #283e06;
  --accent1-color: #ffff;
  --accent2-color: #778c43;
  --heading-font: "Arial";
  --body-font: Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent2-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
  width: 150;
  height: auto;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
}

.hero article img {
  float: right;
  width: 125px;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin: 0;
  background-color: var(--secondary-color)
}

footer {
  margin-top: 15px;
  border-top: 1px solid var(--accent2-color);
  text-align: center;
}